html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    font-family: Georgia, "Times New Roman", Times, serif;
    margin-bottom: 60px;
    font-size: 16px;
}

.header-with-border {
    border-bottom: 1px solid rgb(231, 231, 231); /* Light gray border */
    padding-bottom: 5px; /* Space below the text */
    margin-bottom: 40px; /* Space below the border */
}

#tooltip {
    background-color: white;
    border: 1px solid black;
    padding: 10px;
    border-radius: 5px;
    pointer-events: none; /* Prevents tooltip from interfering with mouse events */
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
}